certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
psycopg2-binary==2.9.10
Pygments==2.18.0
requests==2.32.3
rich==13.9.4
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.3
pyyaml
